[Unit]
Description=BGP container
Requires=database.service
After=database.service
Requires=config-setup.service
After=config-setup.service
BindsTo=sonic.target
After=sonic.target
After=swss.service
After=interfaces-config.service
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=admin
ExecStartPre=/usr/local/bin/bgp.sh start
ExecStart=/usr/local/bin/bgp.sh wait
ExecStop=/usr/local/bin/bgp.sh stop
ExecStopPost=/usr/local/bin/write_standby.py --shutdown bgp

RestartSec=30

[Install]
WantedBy=sonic.target
