[Unit]
Description=gbsyncd service
Requires=database@%i.service config-setup.service
ConditionPathExists=!/usr/share/sonic/hwsku/gearbox_config.json
After=database@%i.service config-setup.service
After=interfaces-config.service
After=swss@%i.service
BindsTo=sonic.target
After=sonic.target

[Service]
User=root
Environment=sonic_asic_platform=vs
Environment=gbsyncd_platform=gbsyncd
ExecCondition=/usr/bin/gbsyncd-platform.sh
ExecStartPre=/usr/local/bin/gbsyncd.sh start %i
ExecStart=/usr/local/bin/gbsyncd.sh wait %i
ExecStop=/usr/local/bin/gbsyncd.sh stop %i

[Install]
WantedBy=sonic.target
