[Unit]
Description=STP container
Requires=updategraph.service swss.service
After=updategraph.service swss.service syncd.service
Before=ntp-config.service
BindsTo=sonic.target
After=sonic.target
StartLimitIntervalSec=1200
StartLimitBurst=3

[Service]
User=admin
ExecStartPre=/usr/bin/stp.sh start
ExecStart=/usr/bin/stp.sh wait
ExecStop=/usr/bin/stp.sh stop
RestartSec=30

[Install]
WantedBy=multi-user.target
